{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <section id="event-list" class="card-background">
      <section class="card">
        <h2>Upcoming Events</h2>
      </section>
      <section class="card">
        <form action="{% url 'events_list' %}" method="get" class="filter-controls-form">
          <div class="filter-controls">
            <div class="input-group">
              <label for="is_free">Free?</label>
              <input type="checkbox" name="is_free" id="is_free" value="0" />
            </div>
            <div class="input-group">
            </div>
            <div class="input-group">
              <label for="title">Search:</label>
              <input type="text" name="title" id="title">
            </div>
          </div>

          <div>
            <a href="{% url 'events_list' %}" >Clear</a>
            <button type="submit" class="button gray">
            Filter
            </button>
          </div>
        </form>
      </section>
      <ul class="events-list">
        {% for event in events %}
          <li class="card event">
            <img class="event-image" src="{% static 'images/image_placeholder.jpg' %}" alt="">
            <div class="event-info">
              <h2>{{ event.title }}</h2>
              <h3>{{ event.datetime }} | £{{ event.cost }}</h3>
              <p>{{ event.description }}</p>
            </div>
            <div class="event-controls">
              <a href="{% url 'events_details' event.id %}" class="button gray">Details</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}
